{% macro recursiveNav(nav, prefix) %}
    {% if nav|length > 0 %}

        {% set listClass = '' %}
        {% set itemClass = '' %}
        {% set anchorClass = '' %}

        {% if prefix %}
            {% set listClass = ' class="' ~ prefix ~ '__list"' %}
            {% set itemClass = ' class="' ~ prefix ~ '__item"' %}
            {% set anchorClass = ' class="' ~ prefix ~ '__anchor"' %}
        {% endif %}

        <ul{{ listClass|raw }}>
            {% for item in nav %}
            <li{{ itemClass|raw }}>
                <a href="{{ base }}{{ item.link }}"{{ anchorClass|raw }}>{{ item.label }}</a>
                {{ _self.recursiveNav(item.children, prefix) }}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
