<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}LionHeart Coding Style Guide{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="canonical" href="{{ base }}/{% block url %}{% endblock %}">

        <!-- OGP -->
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:type" content="{% block type %}{% endblock %}">
        <meta property="og:url" content="{{ base }}/{{ block('url') }}">
        <meta property="og:description" content="{{ block('description') }}">
        <meta property="og:site_name" content="{{ site.name }}">
        {% if site.image %}
        <meta property="og:image" content="{{ base }}/{% block image %}{% endblock %}">
        {% endif %}
        <!-- /OGP -->

        {% if site.twitter %}
        <!-- Twitter card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ site.twitter }}">
        <meta name="twitter:title" content="{{ block('title') }}">
        <meta name="twitter:description" content="{{ block('description') }}">
        <meta name="twitter:image" content="{{ base }}/{{ block('image') }}">
        <!-- /Twitter card -->
        {% endif %}

        <!-- Disabled Auto link TelNo -->
        <meta name="format-detection" content="telephone=no">

        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ base }}/data/css/style.css?v={{ site.version }}">

        {% block header %}
        {% endblock %}
    </head>
    <body>
        <header class="l-header">
            {% if site.is_index %}
            <h1 class="l-header__title"><a href="{{ base }}/" class="l-header__title__anchor">LionHeart Coding Style Guide</a></h1>
            {% else %}
            <p class="l-header__title"><a href="{{ base }}/" class="l-header__title__anchor">LionHeart Coding Style Guide</a></p>
            {% endif %}

            {% import "macros/global.twig" as global %}

            <nav class="l-nav">
                {{ global.recursiveNav(site.nav, 'l-nav') }}
            </nav>
        </header>

        <div class="l-wrapper">
            <main class="l-main v-main">
                {% block contents %}{% endblock %}
            </main>

            <footer class="l-footer">
            </footer>
        </div>

        <script src="{{ base }}/data/js/script.js"></script>
        {% block footer %}
        {% endblock %}
    </body>
</html>
